ion-title{
  text-align: center;
}
#cintainer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circular-progress {
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background: conic-gradient(#FFE503 3.6deg, #e3e3e3 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.circular-progress::before {
  content: "";
  position: absolute;
  height: 210px;
  width: 210px;
  border-radius: 50%;
  background-color: #1E1E1F
}
.progress-value {
  position: relative;
  font-size: 40px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.text {
  font-size: 28px;
  font-weight: 500;
  color: #606060;
}

